<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--
		cacheEnabled - 캐시 사용 설정. default: true
		lazyLoadingEnabled lazy - loading 설정. default: true
		multipleResultSetsEnabled - 하나의 statement에서 다수 ResultSet 허락여부. default: true
		defaultExecutorType - 기본 executor지정. default: SIMPLE, 이 설정으로 batch 처리가 가능하다.
		jdbcTypeForNull - null 값에 대한 JDBC 타입을 지정
		callSettersOnNulls - Map사용할 때 리턴값이 null이어도 컬럼 누락되지 않도록. default: false
		returnInstanceForEmptyRow - Map사용할 때 리턴값이 null이어도 row 누락되지 않도록. default: false
	-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="jdbcTypeForNull" value="NULL"/><!-- NULL 값을 허용하도록 설정 -->
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="returnInstanceForEmptyRow" value="false"/>
        <setting name="defaultStatementTimeout" value="300"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>